<!--css and js-->
<script src="../../js/fragment/burger-menu.js" defer></script>
<link rel="stylesheet" href="../../css/fragment/burger-menu.css">

<!--html-->
<nav class="fixed top-0 w-full z-50 bg-white shadow-lg">
  <!--logo-->
  <div class="absolute top-0 left-0 right-0">
    <div class="container mx-auto pt-0 flex items-center">

      <button id="menu-btn" class="absolute left-4 top-4 block hamburger focus:outline-none z-50 md:hidden">
        <span class="hamburger-top"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
      </button>

      <div class="w-full text-center">
        <a href="../customer/index.html" class="text-4xl font-semibold text-gray-700 z-50">Sankt Peder</a>
      </div>

      <div class="absolute right-3 top-1">
        <a href="../customer/fotos.html"
           class="bg-primary text-white px-6 py-2 hidden md:flex items-center justify-center  rounded-full hover:bg-black">FOTOS</a>
      </div>

    </div>
  </div>

  <!--desktop links -|- custom centering + set mr + ml for 'center' elements -->
  <div class="hidden py-3 md:flex flex-wrap justify-center mt-10  logo:mt-1 logo:ml-[-50px]">
    <a href="../customer/index.html" class="navbar-item">FORSIDE</a>
    <a href="../customer/index.html" class="navbar-item">MENUKORT OG DRIKKEVARER</a>
    <a href="../customer/index.html" class="navbar-item logo:mr-28">MENUKORT 10-50 PERSONER</a>
    <a href="../customer/index.html" class="navbar-item logo:ml-28">SELSKABSMENU</a>
    <a href="../customer/index.html" class="navbar-item ">MØDELOKALE/LOGEN</a>
    <a href="../customer/index.html" class="navbar-item">JULEMENU 2023</a>
    <a href="../customer/index.html" class="navbar-item">OS</a>
  </div>

  <!--mobile links-->
  <div class="py-6 md:hidden"></div>
  <div id="menu"
       class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md z-20">
    <a href="../customer/index.html" class="burger-item">FORSIDE</a>
    <a href="../customer/index.html" class="burger-item">MENUKORT OG DRIKKEVARER</a>
    <a href="../customer/index.html" class="burger-item">MENUKORT 10-50 PERSONER</a>
    <a href="../customer/index.html" class="burger-item">SELSKABSMENU</a>
    <a href="../customer/index.html" class="burger-item">MØDELOKALE/LOGEN </a>
    <a href="../customer/index.html" class="burger-item">JULEMENU 2023</a>
    <a href="../customer/index.html" class="burger-item">FOTOS</a>
    <a href="../customer/index.html" class="burger-item">OM OS</a>
  </div>
</nav>